:root {
    /* Main Colors */
    --mainColor: #02020a;
    --black: #000;
    --white: #fff;
    --yellow: yellow;
    
    /* Main Fonts*/
}

/* =====================
   GLOBAL CSS
========================*/

a {
    text-decoration: none;
    color: var(--white);
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: var(--mainColor);
    color: var(--white);
}

.active__link {
    color: var(--yellow);
}

/* ====================
   MAIN HEADER
=======================*/
.main__header {
    color: var(--white);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 60px;
}

.main__header .logo__container img {
    width: 100px;
    object-fit: contain;
}

.main__header .main__nav {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main__header .links {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main__header .links .link__item {
    margin: 0 15px;
}

.main__header .links .link__item .link {
    font-size: 1.7em;
    text-transform: uppercase;
    transition: color 0.5s linear;
}

.main__header .links .link__item .link:hover {
    color: var(--yellow);
}

/*==================
  MAIN CONTENT
====================*/
.main .movies, .tv__shows {
    display: flex;
   flex-wrap: wrap;
   justify-content: center;
   margin-left: 15px;
   margin-right: 15px;
}

.main .message__error {
    text-align: center;
}

.main .movies .content, .tv__shows .content{
    color: var(--white);
    height: 400px;
    width: 400px;
    padding: 10px;
    cursor: pointer;
    transition: transform 0.5s ease-out;
}

.main .movies .content h2,  .tv__shows .content h2{
    max-height: 16px;
    text-transform: uppercase;
    margin-bottom: 1.2em;
}

.main .movies .content:hover, .tv__shows .content:hover {
    transform: scale(1.04);
}

.main .movies .content img, .tv__shows .content img {
    padding: 10px;
    margin-top: 1em;
    height: 300px;
    object-fit: contain;
    width: 400px;
}

/*=====================
  FOOTER
=======================*/
footer {
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px 0;
    background: var(--black);
    color: var(--white);
}

/*=====================
  MEDIA QUERIE
=======================*/
@media all and (max-width: 575px){
    .main__header {
        padding: 15px;
    }
    .main__header .links .link__item .link {
        font-size: 1em;
    }
}